#v {
    text-align: center;
}
#ba{
    margin-left: 15%;
    margin-right: 15%;
}
#ha{
    margin-left: 13%;
    margin-right: 13%;
}
#bak{
    margin-left: 15%;
    margin-right: 15%;
}
a:visited{
    color: black;
}
a{
    color: black;
}
#ban{
    margin-left: 15%;
    margin-right: 15%;
}
#bal{
    margin-left: 15%;
    margin-right: 15%;
}
#bat{
    margin-left: 15%;
    margin-right: 15%;
}
#bap{
    margin-left: 15%;
    margin-right: 15%;
}
#bas{
    margin-left: 15%;
    margin-right: 15%;
}
h3{
    margin-bottom:1px;
}
h4{
    margin-bottom:1mm;
}
#baj{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#lag{
    margin-left: 25%;
    margin-right: 25%;
    max-height:600px;
    width: 50%;
}
#baq{
    margin-left: 15%;
    margin-right: 15%;
}
#baw{
    margin-left: 15%;
    margin-right: 15%;
}
#bae{
    margin-left: 15%;
    margin-right: 15%;
}
#bar{
    margin-left: 15%;
    margin-right: 15%;
}
#bay{
    margin-left: 15%;
    margin-right: 15%;
}
#bau{
    margin-left: 15%;
    margin-right: 15%;
}
#bai{
    margin-left: 15%;
    margin-right: 15%;
}
#bao{
    margin-left: 15%;
    margin-right: 15%;
}
#baz{
    margin-left: 15%;
    margin-right: 15%;
}
#bax{
    margin-left: 15%;
    margin-right: 15%;
}
#ball{
    margin-left: 15%;
    margin-right: 15%;
}
#lal{
    margin-right: 15%;
    max-width: 500px;
    max-height: 500px;
    min-width: 100px;
    min-height: 100px;
}
#lam{
    margin-right: 15%;
    max-width: 500px;
    max-height: 750px;
    min-width: 100px;
    min-height: 150px;
}
#naka{
    margin-left: 20%;
    margin-right: 20%;
    max-height:1000px;
    width: 60%;
    margin-bottom: 1mm;
}
#lama{
    text-align: center;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 80%;
}